* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(202, 186, 166);
}
.AllPlayers {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  padding: 30px;
  text-align: center;
  color: rgb(1, 87, 1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-image {
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.search-box {
  display: flex;
  justify-content: center;
}

.search-box2 {
  width: 20%;
  align-content: center;
  text-align: center;
}
form {
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
}

.add-player-button {
  margin: 10px;
  padding: 2px;
  display: flex;
}

.player-container {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
}

.all-players {
  border: 2px solid rgb(79, 43, 43);
  background-color: rgb(160, 194, 160);
  text-align: center;
  gap: 1ch;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 400px;
  height: auto;
}

.player-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.single-player-details {
  border: 2px solid rgb(79, 43, 43);
  background-color: rgb(160, 194, 160);
  text-align: center;
  gap: 1ch;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 400px;
  height: 500px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
